# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Nuget packages folder
src/packages
src/nuspec/*.nupkg
src/nuspec/Packages
src/nuspec/msbuild.log

# .user and .suo
*.user
*.suo