<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pulsus"
             type="Pulsus.Configuration.PulsusSection, Pulsus" />
  </configSections>
  <pulsus>
    <remote enabled="true"
            logKey="AnotherApp-Dev"
            url="http://localhost:1292/Api/Log/Post" />
  </pulsus>
</configuration>